/*
First section

Markup:
<div class="subClass"><span>Section markup</span></</div>

Styleguide 1.0
*/

.localClass {
  color: green;

	> * {
		background-color: yellow;
		padding: 100px;
	}
}

.test {
	background-color: red;
}

:local(.subClass) {
  color: red;
	> * {
		background-color: yellow;
	}
}

:global(.globalClass) {
  color: blue;
}

/*
Seccond section

Markup:
<div class="subClass2"><span>Section markup</span></</div>

Styleguide 1.1
*/


:local(.subClass2) {
  color: red;
	> * {
		background-color: red;
	}
}
